.info-card{
  background-color: #282828 !important;
  color: #FFFFFF;
  padding: 8px 0px;
}

.title-text{
  font-size: 24px !important;
}

.genre-text{
  color: #FF0000;
}

.link-button{
  color: white !important;
  border: #3d3d3d solid !important;
}