.dropdowns{
    background-color: #3d3d3d;
    color: white;
    font-size: 12px;
}
.filterText{
    color:white;
    font-size: 12px;
    padding-top: 10px;
    margin-right: 10px;
    margin-left: 5px;
}
.filters{
    margin-bottom: 20px;
    background-color: #474747;
}
.form-controlSB {
    background-color:#3d3d3d !important;
    font: white;
}
.search-icon{
    color: white !important;
}
.datePicker{
    height: 10px;
}
.movie{
    color: white;
    font-size: 12px;
    background-color: #3d3d3d;
}
.selectedText{
    color: #FF0000;
    font-size: 14px;
    padding-top: 12px;
    margin-right: 20px;
    margin-left: 5px;
}
.buttons{
    margin-right: 10px;
}